<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">

</head>
<body>
      <body class="bg-body-tertiary">
        <nav class="navbar navbar-expand-md bg-secondary-subtle">
            <div class="container ">
              <div class="w-25">
              <a class="navbar-brand" href="/"><img src="../img/logo.png" class="img-fluid" alt=""></a>
              </div>
              
              <a href="/addMovie" class="btn btn-outline-primary

              ">Add Movie</a>
        </nav>

    </body>
</body>
</html>